[Unit]
PartOf=wayland-session@hyprland.desktop.target
After=wayland-session@hyprland.desktop.target
Description=KDEConnect Daemon

[Service]
ExecStart=/usr/bin/kdeconnectd

[Install]
WantedBy=wayland-session@hyprland.desktop.target
