[Unit]
PartOf=wayland-session@hyprland.desktop.target
After=wayland-session@hyprland.desktop.target
Description=SwayNC

[Service]
ExecStart=/usr/bin/swaync

[Install]
WantedBy=wayland-session@hyprland.desktop.target
